body {
    font-size: 18px;
}

header{
    text-align: center;
    padding: 10px;
    font-size: 35px;
}
img{
    width:75%;
    object-fit: cover;
}
canvas {
    display: block;
    outline: black 3px solid;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.subcolumn{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}