body {
    font-size: 18px;
}

header{
    text-align: center;
    padding: 10px;
    font-size: 35px;
}
img{
    width:50%;
    object-fit: cover;
    outline: black 2px dashed;
    margin-left: 10px;
}
#c {
    outline: black 3px solid;
}

#c1{
    display: block;
}

#introduction{
    outline: black 3px dashed;
}
.column {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.row{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.input_container{
    float: left;
    width: 75%;
}

.button_container{
    float: left;
    width: 25%;
}