* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    background-color: white;
    color: black;
}

.nav-links a {
    color: black;
}
.logo img{
    width: 40px;
    height: 40px;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background-color: gray;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li a:hover{
    color:white;
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.project img{
    width: 100%;
    aspect-ratio: 1/1;
    padding: 20px;
}

.project text{
    width: 100%;
    padding: 20px;
}

.project div.title{
    font-size: 40px;
    font-weight: bold;
}

.project div.description{
    font-size: 20px;
}



