body {
    font-size: 18px;
    font-family: monospace;
}
.background{
    width: 80vw;
    display: block;
    margin: auto;
}
.scoreboard{
    width: 100%;
    height: 10%;
    border: black 3px solid;
    font-size: 24px;
}
.playground{
    width: 100%;
    height: 90%;
    border: black 3px solid;
    display: grid;
    padding: 0;
    margin: 0;
}
.result{
    width: 50%;
    height: 50%;
    display: none;
    visibility: hidden;
    grid-template-columns: repeat(3, 1fr);
    border: black 3px solid;
    position: fixed;
    left: 25%;
    top: 25%;
    background-color: white;
}
#game_over{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 32px;
}
#result_score{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 40px;
}
#crown_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 5px;

}
#crown_2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 5px;
}
#crown_3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 5px;
}
.crown{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
}
#retry{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 32px;
    cursor: pointer;
    border: black 3px solid;
}
#retry:hover{
    background-color:gray;
    color:white;
}